<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d6e99d75-0c73-44c8-bb02-8b11ec22d786/resourceGroups/fa21Homework/providers/Microsoft.Web/sites/Team-27-FinalProject</ResourceId>
    <ResourceGroup>fa21Homework</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://team-27-finalproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>team-27-finalproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Team-27-FinalProject</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Team-27-FinalProject</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>