@model Team_27_FinalProject.Models.Property

@{ ViewData["Title"] = "Confirm Create"; }
<br /><br /><br />
<h1>Confirm Create</h1>
<br /><br />
<h4> We have received your request for new listing.</h4><br />
<h4>Please wait for 2-3 business days while our team members reviewing your request. </h4>

