<div class="text-center">
    <!-- Space -->
    <br /><br /><br /><br /><br />
    <h1>THIS IS A TEMPORARY INDEX PAGE FOR TESTING</h1>

    <!-- Space -->
    <br /><br /><br />
    <table style="margin-left: auto; margin-right:auto;">
        <tr>
            <th>
                <a asp-action="Index" asp-controller="Properties" class="btn btn-info">View Properties</a>
            </th>
            <th>
                <a asp-action="Index" asp-controller="Orders" class="btn btn-info">View Orders</a>
            </th>
            <th>
                <a asp-controller="Reservations" asp-action="Index" class="btn btn-info">Reservations</a>
            </th>
            <th>
                <a asp-controller="Reviews" asp-action="Index" class="btn btn-info">Reviews</a>
            </th>

            <th>
                @if (User.Identity.IsAuthenticated)
                {
                     @if (User.IsInRole("Admin"))
                     {
                        <a asp-controller="Categories" asp-action="Index" class="btn btn-info">Set Categories</a>
                     }
                }
            </th>
        </tr>
    </table>
</div>